extends ../layout

block content
    table(class="table table-striped table-hover table-condensed" style="width: auto !important;" )
                thead
                    tr
                        th Keys
                        th Remove
                tbody
                    if keys.length > 0     
                        each key in keys
                            tr
                                td
                                    !{key}
                                td
                                    a(href='/app/keysManagement/delete/#{key}' class='btn  btn-danger') &times;
                tfoot
                    tr
                        td
                            a(href="/app/keysManagement/add" class='btn  btn-success') ADD
                
                